{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="w-full">
    <div class="flex flex-col items-center gap-2 mb-8">
        <h2 class="text-xl font-semibold">Login to your account</h2>
        <p class="text-sm text-gray-500">Follow the method to login</p>
    </div>
    {% include 'account/partials/social_login_links.html' %}

    <form x-data="{loading: false}" @submit="loading = true" action="{% url 'account_login' %}" method="post" class="flex flex-col gap-4">
        {% csrf_token %}
        {% crispy form %}
        <p class="mt-8 text-sm text-gray-500 text-center mb-8">Don't have an account? <a href="{% url 'account_signup' %}" class="link">Sign up</a></p>
    </form>
</div>
{% endblock %}