{% extends 'account/base.html' %}
{% load crispy_forms_tags i18n %}

{% block content %}
<div class="w-full py-6">
    <div class="flex flex-col items-center gap-2 mb-8">
        <h2 class="text-2xl font-medium">{% trans "Set Password" %}</h2>
        <p class="text-sm text-gray-500 text-center">{% trans "We have no password on file for you. If you'd like to be able to log in without needing a third-party account, you can set a password below." %}</p>
    </div>

    <form class="flex flex-col gap-4" method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
{% endblock content %}
