{% extends 'account/base.html' %}
{% load i18n %}

{% block content %}
<div class="w-full py-6">
    <div class="flex flex-col items-center gap-2 mb-8">
        <h2 class="text-2xl font-medium">{% trans "Password Changed" %}</h2>
    </div>
    
    <div class="flex flex-col items-center gap-6 text-center">
        <p class="text-gray-600">
            {% trans 'Your password is now changed. Login with your new password.' %}
        </p>
        <a class="w-full btn btn-primary" href="{% url 'account_login' %}">{% trans 'Log in' %}</a>
    </div>
</div>
{% endblock content %}
