{% extends 'account/base.html' %}
{% load i18n %}

{% block content %}
<div class="w-full py-6">
    <div class="flex flex-col items-center gap-2 mb-8">
        <h2 class="text-2xl font-medium">{% trans "Password Reset" %}</h2>
    </div>
    
    <div class="text-gray-600">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            {% blocktrans %}Check your email, we've emailed you a link to reset your password. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>
    </div>
</div>
{% endblock content %}
